/* dev-conf-2026 style is here */
/* google font import link here */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* google font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
/* universal class */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* shared style */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
}

/* navbar style  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
}
.navbar nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #575757;
}
.navbar-right button {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
}
/* banner style */
.banner {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
}
.banner h1 span {
  font-style: italic;
}
.banner p {
  color: white;
  font-size: 22px;
  text-align: center;
}
.button button {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
/* speakers section style */
.s-title h2{
    margin: 100px 0px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}
.speaker-card-container{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
margin-bottom: 150px;
}
.speaker-card{
    border: 1px solid rgba(128, 128, 128, 0.379);
    border-radius: 15px;
}
.img img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.contain{
    padding: 20px;
}
.contain p span{
    color: #1d4ed8;
}
.contain h3{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 20px;
}
.contain p{
    color: gray;
}
/* pricing section style */
.pricing-title{
    text-align: center;

}
.pricing-title h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pricing-title p{
    color: gray;
}
.pricing-card{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 30px;
    width: 350px;
}
.subcription{
    font-size: 13px;
    font-weight: 600;
    color: gray;
}
.pricing-card h2{
    font-size: 44px;
    font-weight: bold;
}
.pricing-card p{
    color: gray;
    font-size: 13px;
    margin-bottom: 20px;
}
.list-item{
    padding: 20px;
    border-top: 2px solid gray;
}
.list-item ul li{
    color: gray;
    font-size: 14px;
}
.list-item ul li::marker{
    color: #1d4ed8;
}
.pricing-btn button{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}
.btn-1 button{
    border: 2px solid #1d4ed8;
    background-color: white;
    color: #1d4ed8;
}
.btn-2 button{
    border: 2px solid #1d4ed8;
    background-color: #1d4ed8;
    color: white;
}
.btn-3 button{
    background-color: white;
    border: 2px solid gray;
}

.pro-card {
    background-color: #0D1B2A;

}
.pro-card h2{
    color: white;
}
.pro-card .subcription{
    color: #1d4ed8;
}
.pricing-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0px;
}
/* footer style here */
footer{
    background-color: #0D1B2A;
}
.top-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.icon a i{
    color: gray;
    font-size: 32px;
    margin-right: 10px;
}
hr{
    border: 1px solid gray;
}
.right-f{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    text-align: center;
    padding: 20px 0px;
}


